
.block {
  width: 100px;
  height: 100px;
  background-color: orange;
  position: sticky;
  top: 10px;
}
/*position: static;
position: relative;
position: absolute;
position: fixed;
*/ 
/*.block2 {
  width: 100px;
  height: 100px;
  background-color: #ff5900;
  position: sticky;
  top: 0;
  left: 0;
}*/